PRIVATE_KEY=0x<your_validator_private_key>
FUNDING_PRIVATE_KEY=0x<your_funding_private_key>
PRIVATE_KEY_OTHER=0x<other_delegator_private_key>

PRIVATE_KEY_NEW_DELEGATOR=0x<new_delegator_private_key>
PRIVATE_KEY_NEW_DELEGATOR2=0x<new_delegator_private_key_2>
