# Ignore environment variable files
.env

# Ignore build artifacts
build/

# Blockscout runtime data (generated at runtime)
blockscout/services/blockscout-db-data/
blockscout/services/redis-data/
blockscout/services/stats-db-data/
blockscout/services/dets/

# ETC
.vscode
.DS_Store