# Ignore environment variable files
.env
.env.*
!.env.example

# Ignore build artifacts
build/
dist/

# Logs and runtime output
*.log
logs/
tmp/
.cache/

# Local binaries
/story

# ETC
.vscode
.DS_Store
node_modules
.idea

pnpm-lock.yaml